/* new code */

html {
    scroll-behavior: smooth;
}

.main-container {
    padding: 0px 20px;
    margin: 0px auto;

}

.intro-menu {
    background-color: #fff;
    border: 2px solid #7b7a7a;
    border-radius: 8px;
}

.intro-menu h2 {
    margin-bottom: 16px;
}
.intro-menu h3 {
    margin-bottom: 10px;
}

.comecar {
    cursor: pointer;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.59) 0px 1px 30px -5px;
    background-color: #c45500;
    color: #fff;

    transition: all .15s ease;
}

.comecar:hover {
    background-color: #853a00;
}

/* new code */

.logo-amazon {
    height: 40px;
    text-align: center;

}

.liquidificador {
    height: 400px;
}

.cooktop {
    height: 400px;
}

.cadeira {
    height: 400px;
}

.motog {
    height: 400px;
}

.saldo{ 
    font-size: 15px;
    padding-top: 10px;
}
.saldonmr{
    font-size: 38px;
    padding-right: 40px;
    color: aliceblue;
    display: flex;
    justify-content: end;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(187, 187, 187)c3;
}

h1 {
    font-size: 30px;
    display: flex;
    justify-content: end;
    padding-right: 40px;
    color: aliceblue;
}

.cabecalho {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    color: black;
    align-items: center;
    justify-content: center;
    box-sizing: 100px;
    border-radius: 10px;
    border-color: whitesmoke;
}

.intro-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    color: black;
    align-items: center;
    box-sizing: 60vh;
    padding: 30px;
    
   
}

.comecar {
box-sizing: border-box;
border-radius: 40px;
padding: 15px;
border: #0593f8;
}

.avaliacao-produtos {
}

.avaliacao1 {
    padding-top: 200px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao2 {
    padding-top: 200px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao3 {
    padding-top: 200px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao4 {
    padding-top: 200px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    padding: 30px;
    padding-top: 100px;
}